@use "theme" as *;

.livePlay.noBakkesmod {

	.watermark {
		left: auto;
		right: 0;
		bottom: -10px;
		z-index: 5;
	}

	.leagueName {
		left: auto;
		right: 150px;
		bottom: 43px;
		text-align: right;
		margin: 0;
	}

	.scoreboard {
		width: calc($scoreboardWidth + 20px);
		mask-image: url("/images/themes/rsc/scoreboard-nobakkesmod-mask.png");
		mask-position: top center;

		.header0 {
			margin-top: -5px;
		}

		.seriesInfo {
			margin-top: 80px;
		}

		.teamSeriesScore {
			top: 108px;

			&.team1 {
				left: 619px;
			}
		}


	}



}
