@use "sass:meta";
@use "theme" as *;

.livePlay {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: $windowWidth;
	height: $windowHeight;
	font-family: var(--fontCooper);
	font-weight: 400;
	background: transparent;

	// @include meta.load-css("ball");
	@include meta.load-css("clock");
	@include meta.load-css("header");
	@include meta.load-css("playerBoxes");
	@include meta.load-css("replay");
	@include meta.load-css("seriesInfo");
	@include meta.load-css("scoreboard");
	@include meta.load-css("socialMedia");
	@include meta.load-css("splash");
	@include meta.load-css("teamLogo");
	@include meta.load-css("teamName");
	@include meta.load-css("teamScore");
	@include meta.load-css("teamSeriesScore");
	@include meta.load-css("watching");
	@include meta.load-css("watermark");

	@include meta.load-css("noBakkesmod");

}
