@use "sass:meta";
@use "theme" as *;

:root {
	background: transparent;

	// tier colors
	--tierPremier: #d600d6;
	--tierMaster: #9b59b6;
	--tierElite: #3498db;
	--tierVeteran: #33ffda;
	--tierRival: #2ecc71;
	--tierChallenger: #ceb337;
	--tierProspect: #e67e22;
	--tierContender: #d64694;
	--tierAmateur: #f3a9a9;
}

#Overlay.rsc {

	--fontCooper: "CooperHewitt", Helvetica, Arial, sans-serif;
	--fontUltimatum: "Ultimatum", Helvetica, Arial, sans-serif;

	@include meta.load-css("fonts");

	@include meta.load-css("live");

	@include meta.load-css("matchup");
	@include meta.load-css("playerStats");
	@include meta.load-css("teamStats");

	@include meta.load-css("postgame");

	@include meta.load-css("interview");

	@include meta.load-css("../transitions/triangleMerge");

	&.rscfinal {

		@include meta.load-css("final/rscfinal");

	}

}
